/*Versão mobile first*/
@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    background-color: lightgrey;
}
header{
    background-color: grey;
}
header > h1{
    padding: 10px;
    text-align: center;
}
i#burguer{
    background-color: rgb(50, 50, 50);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burguer:hover{
    background-color: white;
    color: black;
}
menu{
    display:none;
}
menu > ul{
    list-style-type: none; /*tira as bolinhas da lista*/
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(75, 75, 75);
    color: white;
    border-top: 2px solid gray;
}
menu > ul > li> a:hover{
    background-color: gray;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article > h2{
    padding-bottom: 20px;
    text-align: center;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;/* margem em baixo*/
    text-indent: 20px; /*Espaçamento de paragrafo*/
}
